<div class="col-sm-6 col-md-3">
	<div class="thumbnail">
		<img src="{{item.image}}" class="thumbs" alt="placeholder"/>
		<div class="caption">
			<h3>{{item.name}}</h3>
			<h4>{{item.price}}</h4>
			<p>{{item.description}}</p>
			<p>{{#link-to 'home.details' item class="btn btn-primary"}}View{{/link-to}}</p>
		</div>
	</div>
</div>